NET "buzzer" LOC = P51;
NET "buzzer" IOSTANDARD = LVTTL;
NET "buzzer" PULLUP;
NET "reset" LOC = P41;
NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLUP;
NET "wrong" LOC = P14;
NET "wrong" IOSTANDARD = LVTTL;
NET "wrong" PULLUP;
NET "right" LOC = P11;
NET "right" IOSTANDARD = LVTTL;
NET "right" PULLUP;
NET "ledgame[0]" LOC = P81;
NET "ledgame[0]" IOSTANDARD = LVTTL;
NET "ledgame[0]" PULLDOWN;
NET "ledgame[1]" LOC = P79;
NET "ledgame[1]" IOSTANDARD = LVTTL;
NET "ledgame[1]" PULLDOWN;
NET "ledgame[2]" LOC = P75;
NET "ledgame[2]" IOSTANDARD = LVTTL;
NET "ledgame[2]" PULLDOWN;
NET "ledgame[3]" LOC = P67;
NET "ledgame[3]" IOSTANDARD = LVTTL;
NET "ledgame[3]" PULLDOWN;
NET "yellowbutton" LOC = P93;
NET "yellowbutton" IOSTANDARD = LVTTL;
NET "yellowbutton" PULLUP;
NET "redbutton" LOC = P95;
NET "redbutton" IOSTANDARD = LVTTL;
NET "redbutton" PULLUP;
NET "greenbutton" LOC = P98;
NET "greenbutton" IOSTANDARD = LVTTL;
NET "greenbutton" PULLUP;
NET "bluebutton" LOC = P100;
NET "bluebutton" IOSTANDARD = LVTTL;
NET "bluebutton" PULLUP;
