NET "button" LOC = P51;
NET "button" IOSTANDARD = LVTTL;
NET "button" PULLUP;
NET "button2" LOC = P34;
NET "button2" IOSTANDARD = LVTTL;
NET "button2" PULLUP;
NET "buzzer" LOC = P41;
NET "buzzer" IOSTANDARD = LVTTL;
NET "buzzer" PULLUP;
NET "led27" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led24" LOC = P24 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led22" LOC = P22 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led17" LOC = P17 | IOSTANDARD = LVTTL | PULLDOWN;
NET "wrong" LOC = P123;
NET "wrong" IOSTANDARD = LVTTL;
NET "wrong" PULLUP;
NET "right" LOC = P124;
NET "right" IOSTANDARD = LVTTL;
NET "right" PULLUP;
NET "red" LOC = P32;
NET "red" IOSTANDARD = LVTTL;
NET "blue" LOC = P134 | IOSTANDARD = LVTTL ;
NET "yellow" LOC = P9 | IOSTANDARD = LVTTL ;
